@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: 'raleway', sans-serif;
  
}

.banner{
    background-image: url(./images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
   

}

/* ////////////////////////////////// */

/* /////////////////////////////////////// */


#offer1:hover {
    width: 600px;
        background-color: blue;
}
#offer2:hover {
    width: 600px;
        background-color: blue;
}

/*  */
#shadow, #seatArea{
    box-shadow: 0 -7px 3px -3px #1DD100;


}


.bottom-dotted-border {
    border-bottom: 2px dashed #968c8c;
    /* Change color as needed */
}



.rightBorder{

    border-left: 2px dashed green;
}

.footerBottomLine{
    border-bottom: 2px dashed #d60a25;
}






.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}






.seats {
    width: 45%;
    border-right: 1px solid #ccc;
    padding-right: 20px;
}

.seat {
    cursor: pointer;
    margin-bottom: 10px;
}

.seat.selected {
    background-color: rgb(25, 142, 25);
    /* Change background color for selected seats */
}

.details {
    width: 45%;
    padding-left: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}


/* apply Button  */

#applyBtn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    opacity: 0.5;
    /* Initially disabled */
}

#applyBtn:disabled {
    opacity: 0.5;
    /* Disabled state */
    cursor: not-allowed;
}

